<!DOCTYPE html>
<html>

<head>
  <title>Vanity Meter</title>
</head>

<body background = "https://media.istockphoto.com/vectors/men-and-women-selfconceptions-vector-id513236704">

  <p style = "font-size:18px"> This is a Vanity Meter for GITHUB. Enter a Github username, and it will tell you how Vain or Humble that user is. </p>

  <form method="post" action="/">
  	<input type="text" name="github">
  	<button type="submit">Submit GITHUB Username</button>
  </form>
  

</body>
</html>