<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
</head>

<body>

  

  <form method="post" action="/">
  	<input type="text" name="github">
  	<button type="submit"></button>
  </form>
  

</body>
</html>